<section class="d-flex flex-shrink-0 gap-3 p-3">
    
    <button (click)="goToStoreForm()" type="button" class="relative w-full flex justify-center items-center px-5 py-2.5 font-medium tracking-wide text-white capitalize bg-blue-600 rounded-md hover:bg-blue-900  focus:outline-none   transition duration-300 transform active:scale-95 ease-in-out">
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF">
           <g>
              <rect fill="none" height="24" width="24"></rect>
           </g>
           <g>
              <g>
                 <path d="M19,13h-6v6h-2v-6H5v-2h6V5h2v6h6V13z"></path>
              </g>
           </g>
        </svg>
        <span class="pl-2 mx-1">Añadir nueva tienda</span>
     </button>

     <div class="relative flex flex-col text-gray-700 bg-white shadow-md w-96 rounded-xl bg-clip-border w-auto px-3">
         <ul class="max-w divide-y divide-gray-200 dark:divide-gray-700">
             @for (store of stores; track $index) {
                 <a [routerLink]="['/stores', store.id, 'edit']">
                     <li class="py-3 sm:pb-4">
                         <div class="flex items-center space-x-4 rtl:space-x-reverse">
                             <div class="flex-shrink-0">
                                 <img class="w-8 h-8 rounded-full" src={{store.image}} alt="Store name">
                             </div>
                             <div class="flex-1 min-w-0">
                                 <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                     {{store.name}}
                                 </p>
                                 <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                 </p>
                             </div>
                             <div class="inline-flex gap-2 items-center text-base font-semibold text-gray-900 dark:text-white">
                                @if(returnCounts[store.id] !== undefined){
                                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                        {{ returnCounts[store.id] }} Devoluciones activas
                                    </div>
                                }
                                <button type="button" class="flex items-center px-3 py-2.5 font-medium tracking-wide text-black capitalize rounded-md  hover:bg-red-200 hover:fill-current hover:text-red-600  focus:outline-none  transition duration-300 transform active:scale-95 ease-in-out">
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-dots"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
                                 </button>
                            </div>
                         </div>
                     </li>
                 </a>
             }
         </ul>
     </div>
</section>